body {
  background-color: #e6e6e6;
}

.singup_form {
  text-align: center;
  width: 600px;
  padding: 20px;
  margin-left: 25%;
  background-color: white;
  margin-top: 5%;
  border-radius: 25px;
  box-shadow: 15px 15px #969595;
}
.input_box {
  margin: 20px;
}
.input_box input {
  width: 500px;
  border: black 1px solid;
  border-radius: 15px;
  font-size: 15px;
  height: 40px;
  padding: 10px;
}
.messages {
  margin-left: 40%;
}
.register_link a {
  text-decoration: none;
}
.submit_button button {
  width: 100px;
  cursor: pointer;
  height: 50px;
  font-size: 20px;
  margin-bottom: 25px;
  background-color: #e6e6e6;
  border: 1px #e6e6e6 solid;
  border-radius: 15px;
}
