{% extends "user/extend.html" %} {% block content %}
<div class="singup_form">
  <form method="POST">
    <h2>Change password</h2>
    {% csrf_token %}
    <div class="input_box">
      <input
        type="password"
        name="old_password"
        placeholder="Enter old password"
      />
    </div>
    <div class="input_box">
      <input
        type="password"
        name="new_password"
        placeholder="Enter new password"
      />
    </div>
    <div class="input_box">
      <input
        type="password"
        name="confirm_password"
        placeholder="Confirm password"
      />
    </div>
    <div class="submit_button"><button type="submit">Submit</button></div>
  </form>
</div>
{% endblock %}
